  @import "daisyui";

  * { font-family: 
    "Geist", sans-serif;
    /* background-color: #22c55e; */
 }

 .border-open { 
    border-top: 4px solid #22c55e !important;
 }

  .border-closed {
     border-top: 4px solid #a855f7 !important; 
    }